<div id="<%= dom_id phone_call %>">
  <p>
    <strong>Start time:</strong>
    <%= phone_call.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= phone_call.end_time %>
  </p>

  <p>
    <strong>Caller:</strong>
    <%= phone_call.caller %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= phone_call.receiver %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= phone_call.duration %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= phone_call.provider %>
  </p>

  <p>
    <strong>User:</strong>
    <%= phone_call.user_id %>
  </p>

</div>
