<div id="<%= dom_id comment %>">
  # <p>
  #   <strong>User:</strong>
  #   <%= comment.user_id %>
  # </p>

  # <p>
  #   <strong>Commentable:</strong>
  #   <%= comment.commentable_id %>
  # </p>

  # <p>
  #   <strong>Visibility:</strong>
  #   <%= comment.visibility %>
  # </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  # <p>
  #   <strong>Deleted at:</strong>
  #   <%= comment.deleted_at %>
  # </p>

</div>
